<html>

<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/antd/4.10.2/antd.min.css" integrity="sha512-0k6l55idMd6b8+Grtl95coLjV0ntfW8I3Ey0N/Sz57cN1hKGWgEDgiynLaPxnOzf9dN0IXZMuCxkWfWKT/zq4Q=="
    crossorigin="anonymous" />


  {{> style}}
   
</head>

<body>
  <div class="page">
   {{!-- {{> header}} --}}
    {{> body }}
      {{!-- {{>footer}} --}}

  </div>

</body>

</html>